table.collection td:first-child, table.collection th:first-child {
    padding-left: 1em;
}

.collection-as-table ul.cf-values {
    margin-top: 0;
    margin-bottom: 0;
}

.collection-as-table .user a {
    font-weight: inherit;
}

.collection-as-table .user a:visited {
    color: inherit;
}

.upgrade-history-parent .widget a {
  display: block;
  margin: 0;
  width: 20px;

  background: url(../../../static/images/css/rollup-arrow.gif) no-repeat;
  background-position: center 0;

  padding: 7px 0 0 0;
  overflow: hidden;
}

.upgrade-history-parent .widget a.rolled-up {
    background-image: url(../../../static/images/css/rolldown-arrow.gif);
}
