table.collection td:first-child, table.collection th:first-child {
    padding-left: 1em;
}

.collection-as-table ul.cf-values {
    margin-top: 0;
    margin-bottom: 0;
}

.collection-as-table .user a {
    font-weight: inherit;
}

.collection-as-table .user a:visited {
    color: inherit;
}

.upgrade-history-parent .widget a {
  display: inline-block;
  margin: 0;
  width: 20px;
  background-image: url('../../../static/images/css/rollup-arrow.gif');
  background-repeat: no-repeat;
  background-position: center 0;
  position: static;
  top: 0.5em;
  left: 1.2em;
  padding: 7px 0 0 0;
}
